html
head 
title  Universe 
body 
link(href= "my.css");
nav
ul
a(href="/") home
br
a(href="/contact") contact


    - var checked = true 
    //- if checked 
    //- h1 This is OK
    //- else
    //- h2 this is bad 
    h1 planets 
    li earth
    li jupiter 
    li Saturn 
    li Mars 
    li Neptune 
    li Venus 
    li Uranus 
    li Mercury 

    