html
    head 
        title  Mars
        script(src="hate2.js")
    body
        nav
            ul
                a(href="/") home
            ul
                a(href="/contact") contact 
    p MARS 




